chainlit
python-dotenv
langchain
openai
chromadb
tiktoken
langchain-openai
langchain-chroma
langchain-community
langchain-core
langchain-ollama
docx2txt
pypdf2
pypdf
tavily-python
duckduckgo-search
bs4
requests